.contact {
  padding: 80px 60px;
  background-color: var(--bg-color);
  scroll-margin-top: 100px;
}

.form-status {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary);
}

.success-msg {
  margin-top: 12px;
  color: #4ade80;
  font-weight: 500;
}

.error-msg {
  margin-top: 12px;
  color: #f87171;
  font-weight: 500;
}


.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
}

.contact-info p {
  color: var(--text-color);
  line-height: 1.7;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;
  color: var(--text-color);
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form input,
.contact-form textarea {
  background-color: var(--bg-color);
  border: 1px solid #334155;
  padding: 12px;
  border-radius: 6px;
  color: var(--text-color);
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form button {
  background: #38bdf8;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background: #0ea5e9;
}


@media (max-width: 768px) {
  .contact {
    padding: 60px 20px;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }
}

