.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: var(--bg-color);
  backdrop-filter: blur(10px);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.theme-toggle {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.theme-toggle:hover {
  background: var(--primary);
  color: black;
}


.hamburger span {
  transition: all 0.3s ease;
}

.nav-links.active ~ .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav-links.active ~ .hamburger span:nth-child(2) {
  opacity: 0;
}

.nav-links.active ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


.contact-btn{
  margin-top: -8px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #38bdf8;
}

.contact-btn {
  padding: 8px 16px;
  border: 1px solid #38bdf8;
  border-radius: 6px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--bg-color);
  border-radius: 2px;
}




@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(15, 23, 42, 0.98);
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}


